<div class="container">

	<input type="text" class="form-control search" id="searchInput" placeholder="Search" [(ngModel)]="search" (keyup)='searching($event)'
		(keydown)='checkArrowKey($event)' tabindex="1">
	<div class="suggestions" *ngIf="autoCompleteOptionsFiltered">
		<ul *ngFor="let option of autoCompleteOptionsFiltered; let i = index" tabindex="2">
			<li *ngIf="i < 5"  [ngClass]="{ active: activeOption === i }">Active option {{ activeOption }} - Array Index {{ i }}
				<a (click)="autoCompleteItemSelected(option)">{{ option }}</a>
			</li>
		</ul>
	</div>

</div>
