<div class="container">
	<div class="search-container">
<div class="search-border-left"></div>
<div class="search-border-right"></div>
	<input type="text" class="form-control search" id="searchInput" placeholder="Search" [(ngModel)]="search" (keyup)='findInAutoCompleteOptions($event)'
		(keydown)='changeActiveOptionIndex($event)' tabindex="1">

</div>

	<div class="suggestions" *ngIf="optionsFiltered">
		<ul>
			<li *ngFor="let option of optionsFiltered; let i = index" tabindex="2">
				<span  *ngIf="i < optionsLimit">
				<a (click)="optionSelected(option)" [ngClass]="{ active: (optionIndex === i && originInput === false)}">{{ option }}</a>
				</span>
			</li>
		</ul>
	</div>

</div>
